@charset "UTF-8";
body {
    left: 60px;
    margin-left: 60px;
    margin-right: 60px;
    right: 60px;
}
p {
    padding-left: 350px;
    padding-right: 200px;
    left: 600px;
    margin-top: 100px;
}
h2 {
    color: #000000;
    left: 2000px;
    margin-left: 600px;
}
#top {
    color: #000000;
    font-size: 50px;
    text-align: left;
}
body a {
    margin-left: 600px;
}
